@use '../abstracts/' as *;

#openingLoader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  z-index: 100;

  @include screen-max($desktop) {
    flex-direction: column;
  }

  .side {
    font-weight: 700;
    font-size: 4.125em;
    height: 100%;
    width: 100vw;
    position: relative;

    .textContainer {
      overflow: hidden;

      .letter {
        display: inline-block;
      }
    }
  }

  .leftSide {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    position: absolute;
    background-color: $clr-primary;
    color: $clr-secondary;

    .letter {
      transform: translateY(500px);
    }
  }

  .rightSide {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    position: absolute;
    background-color: $clr-secondary;
    color: $clr-primary;

    .letter {
      transform: translateY(-500px);
    }
  }
}
