@use '../abstracts/' as *;

#openingLoader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;

  .side {
    font-weight: 700;
    font-size: 4.125em;
    display: grid;
    place-content: center;
    height: 100%;
    width: 100%;

    .text {
      overflow: hidden;

      .letter {
        display: inline-block;
      }
    }
  }

  .leftSide {
    background-color: $clr-primary;
    color: $clr-secondary;
  }

  .rightSide {
    background-color: $clr-secondary;
    color: $clr-primary;
  }
}
