@use "../abstracts/" as *;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Poppins";
  font-size: 1rem;
}

#root {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

main {
  background-color: $clr-secondary;
  color: $clr-primary;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.websiteBackground {
  position: fixed;
  background-color: $clr-secondary;
  height: 100vh;
  width: 100vw;
  z-index: -15;
}

h1 {
  position: fixed;
  color: $clr-primary;
  transform-origin: left top;
  transform: rotateZ(-90deg);
  text-transform: uppercase;
  font-size: 8em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 95%;
  left: 0;
  opacity: 0.2;
}

.no-hover {
  pointer-events: none;
}
