@use "../abstracts/" as *;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Poppins";
  font-size: 20px;

  @include screen-max($desktop) {
    font-size: 12px;
  }

  @include screen-max($tablet) {
    font-size: 6px;
  }
}

#root {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

main {
  color: $clr-primary;
  background-color: $clr-secondary;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.websiteBackground {
  position: fixed;
  background-color: $clr-secondary;
  height: 100vh;
  width: 100vw;
  z-index: -15;
  overflow: hidden;
}

.no-hover {
  pointer-events: none !important;
}

.container {
  height: 100%;
  width: 66%;
  margin: 0 auto;
  opacity: 0;

  @include screen-max($desktop) {
    width: 85%;
  }

  @include screen-max($tablet) {
    width: 75%;
  }
}
