@use "../abstracts/" as *;

.experiencePage {
  .experienceContainer {
    .experienceList {
      width: 100%;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      display: flex;
      flex-direction: column;
      gap: 2.5em;
      justify-self: center;
      align-self: center;
      margin-top: 11vh;

      .link {
        text-decoration: none;
        color: $clr-primary;
        text-transform: none;
        transition: all 0.6s;

        &:hover {
          box-shadow: 0 7px 15px rgba($color: #000000, $alpha: 0.4);
          outline: 1px solid $clr-primary;
        }
      }

      .experienceCard {
        padding: 1.5em 2em;
        height: fit-content;
        text-align: right;
        text-transform: uppercase;
        border-radius: 10px;

        @include screen-max($desktop) {
          padding: 5em 1.5em;
        }

        @include screen-max($tablet) {
          padding: 5em 1.5em;
        }

        .year {
          position: absolute;
          font-size: 2.5em;
          font-weight: 700;
          line-height: 1em;
          opacity: 0.7;
          @include screen-max($tablet) {
            font-size: 5em;
            opacity: 0.6;
          }
        }
        .name {
          font-size: 1.8em;
          font-weight: 700;
          @include screen-max($tablet) {
            font-size: 2.75em;
          }
        }

        .durationLocation {
          font-size: 1em;
          font-weight: 500;
          margin-top: -0.5em;
          opacity: 0.6;
          @include screen-max($tablet) {
            font-size: 1.7em;
            font-weight: 400;
            opacity: 0.6;
          }
        }

        .tasks {
          font-size: 1.1em;
          font-style: italic;
          font-weight: 500;
          @include screen-max($tablet) {
            font-size: 1.6em;
            font-weight: 600;
            opacity: 0.6;
          }
        }

        .linkIndication {
          text-align: left;
          opacity: 0.4;
          position: absolute;
          bottom: 1.5em;
          text-transform: none;
        }
      }
    }
  }
}
